<div *ngIf="rssFeed">
  <mat-card>
    <mat-card-header>
      <mat-card-title>News of RssFeed : {{rssFeed.id}}</mat-card-title>
      <mat-card-subtitle>{{rssFeed.url}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>There will be some news displayed here!</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <a mat-raised-button routerLink="/rssFeeds">
        <fa name="fas fa-arrow-left"></fa> RssFeeds
      </a>
    </mat-card-actions>
  </mat-card>
</div>
