<mat-card *ngIf="rssFeed">
  <mat-card-header class="text-align-center">
    <button mat-raised-button color="primary" routerLink="/rssFeeds" class="btn-sm margin-right-10">
      <fa name="fas fa-arrow-left"></fa>
    </button>
    <mat-card-title>{{rssFeed.title}}</mat-card-title>
    <mat-card-subtitle>{{rssFeed.url}}</mat-card-subtitle>
    <span class="fill-horizontal-space"></span>
    <button mat-raised-button color="primary" [disabled]="isLoadingRssNews" class="btn-sm margin-right-10" (click)="refreshRssNews(rssFeed.id)">
      <fa name="fas fa-rss"></fa> Refresh
    </button>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="btn-sm">
      <fa name="fas fa-ellipsis-v"></fa>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/rssFeed/{{rssFeed.id}}">
        <fa name="fas fa-edit"></fa> Edit
      </button>
      <button mat-menu-item (click)="deleteRssFeed(rssFeed.id)">
        <fa name="fas fa-trash"></fa> Delete
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-progress-bar [hidden]="!isLoadingRssNews" mode="query" class="margin-bottom-top-20"></mat-progress-bar>
  <mat-card-content [hidden]="isLoadingRssNews">
    <mat-list>
      <mat-list-item *ngFor="let itemRssNews of listRssNews">
        <h4 mat-line><a routerLink="/rssNews/{{itemRssNews.id}}">{{itemRssNews.title}}</a></h4>
        <p mat-line><span class="bold">{{itemRssNews.pubDate | date:'HH:mm - dd/MM/yyyy'}}</span> : {{itemRssNews.description}}</p>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-paginator
      [length]="length"
      [pageIndex]="page - 1"
      [pageSize]="previousPageSize"
      [pageSizeOptions]="[10,20,40]"
      [showFirstLastButtons]="true"
      (page)="pageChange($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
