<mat-card *ngIf="rssFeed">
  <mat-card-header class="text-align-center">
    <button mat-raised-button color="primary" routerLink="/rssFeeds" class="btn-sm margin-right-10" matTooltip="Back" matTooltipPosition="below">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <mat-card-title>{{rssFeed.title}}</mat-card-title>
    <mat-card-subtitle>{{rssFeed.url}}</mat-card-subtitle>
    <span class="fill-horizontal-space"></span>
    <button mat-raised-button color="primary" [disabled]="isLoadingRssNews" class="btn-sm margin-right-10" (click)="refreshRssNews(rssFeed.id)">
      <mat-icon fontSet="fa" fontIcon="fa-rss"></mat-icon> Refresh
    </button>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="btn-sm" matTooltip="Options" matTooltipPosition="below">
      <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/rssFeed/{{rssFeed.id}}">
        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon> Edit
      </button>
      <button mat-menu-item (click)="deleteRssFeed(rssFeed.id)">
        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon> Delete
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-progress-bar [hidden]="!isLoadingRssNews" mode="query" class="margin-bottom-top-20"></mat-progress-bar>
  <mat-card-content [hidden]="isLoadingRssNews">
    <mat-list>
      <mat-list-item *ngFor="let itemRssNews of listRssNews">
        <h4 mat-line><a routerLink="/rssNews/{{itemRssNews.id}}">{{itemRssNews.title}}</a></h4>
        <p mat-line><span class="bold">{{itemRssNews.pubDate | date:'HH:mm - dd/MM/yyyy'}}</span> : {{itemRssNews.description}}</p>
        <button mat-icon-button (click)="setFavorite(itemRssNews.id)" matTooltip="Add favorite" matTooltipPosition="below" *ngIf="!itemRssNews.isFavorite">
          <mat-icon fontSet="fa" fontIcon="fa-star-o"></mat-icon>
        </button>
        <button
          mat-icon-button color="primary"
          matTooltip="Remove favorite"
          matTooltipPosition="below"
          (click)="unsetFavorite(itemRssNews.id)"
          *ngIf="itemRssNews.isFavorite">
          <mat-icon fontSet="fa" fontIcon="fa-star"></mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-paginator
      [length]="length"
      [pageIndex]="page - 1"
      [pageSize]="previousPageSize"
      [pageSizeOptions]="[10,20,40]"
      [showFirstLastButtons]="true"
      (page)="pageChange($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
