<mat-card>
  <mat-card-header>
    <mat-card-title>New RssFeed</mat-card-title>
    <mat-card-subtitle>Add a new RSS feed to watch.</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-progress-bar [hidden]="!isLoadingAddRssFeed" mode="query" class="margin-top-20"></mat-progress-bar>
  <mat-card-content [hidden]="isLoadingAddRssFeed">
    <mat-form-field>
      <input matInput #rssFeedUrl placeholder="URL"/>
    </mat-form-field>
  </mat-card-content>
  <mat-divider [hidden]="isLoadingAddRssFeed"></mat-divider>
  <mat-card-actions [hidden]="isLoadingAddRssFeed">
    <button mat-raised-button color="primary" (click)="addRssFeed(rssFeedUrl.value); rssFeedUrl.value=''">
      <fa name="fas fa-plus"></fa> Add
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="margin-top-10">
  <mat-card-header>
    <mat-card-title>RssFeeds</mat-card-title>
    <mat-card-subtitle>List of all your RSS feeds being watched.</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-progress-bar [hidden]="!isLoadingListRssFeeds" mode="query" class="margin-bottom-top-20"></mat-progress-bar>
  <mat-card-content [hidden]="isLoadingListRssFeeds">
    <mat-list>
      <mat-list-item *ngFor="let itemRssFeed of listRssFeeds">
        <mat-icon mat-list-icon><img *ngIf="itemRssFeed.image" src="{{itemRssFeed.image}}" class="mat-icon"/></mat-icon>
        <h4 mat-line><a routerLink="/rssFeed/{{itemRssFeed.id}}/news">{{itemRssFeed.title}}</a></h4>
        <p mat-line>{{itemRssFeed.url}}</p>
        <button mat-raised-button [matMenuTriggerFor]="menu" class="btn-sm">
          <fa name="fas fa-ellipsis-v"></fa>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/rssFeed/{{itemRssFeed.id}}">
            <fa name="fas fa-edit"></fa> Edit
          </a>
          <button mat-menu-item (click)="deleteRssFeed(itemRssFeed.id)">
            <fa name="fas fa-trash"></fa> Delete
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
