<form (ngSubmit)="addRssFeed(rssFeedUrl.value); rssFeedUrl.value=''">
  <mat-accordion>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          New RssFeed
        </mat-panel-title>
        <mat-panel-description>
          Add a new RSS feed to watch.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput #rssFeedUrl placeholder="URL"/>
      </mat-form-field>
      <mat-action-row>
        <button mat-raised-button color="primary" type="submit">
          <fa name="fas fa-plus"></fa> Add
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<mat-card class="margin-top-10">
  <mat-card-header>
    <mat-card-title>RssFeeds</mat-card-title>
    <mat-card-subtitle>List of all your RSS feeds being watched.</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-progress-bar [hidden]="!isLoadingListRssFeeds" mode="query" class="margin-bottom-top-20"></mat-progress-bar>
  <mat-card-content [hidden]="isLoadingListRssFeeds">
    <mat-list>
      <mat-list-item *ngFor="let itemRssFeed of listRssFeeds">
        <mat-icon mat-list-icon><img *ngIf="itemRssFeed.image" src="{{itemRssFeed.image}}" class="mat-icon"/></mat-icon>
        <h4 mat-line><a routerLink="/rssFeed/{{itemRssFeed.id}}/news">{{itemRssFeed.title}}</a></h4>
        <p mat-line>{{itemRssFeed.url}}</p>
        <button mat-raised-button [matMenuTriggerFor]="menu" class="btn-sm">
          <fa name="fas fa-ellipsis-v"></fa>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/rssFeed/{{itemRssFeed.id}}">
            <fa name="fas fa-edit"></fa> Edit
          </button>
          <button mat-menu-item (click)="deleteRssFeed(itemRssFeed.id)">
            <fa name="fas fa-trash"></fa> Delete
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
