<form *ngIf="rssFeed" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>RssFeed : {{rssFeed.title}}</mat-card-title>
      <mat-card-subtitle>URL : {{rssFeed.url}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p class="padding-top-15">
        Description : {{rssFeed.description}}
      </p>
      <mat-divider></mat-divider>
      <p class="padding-top-15">
        Image : {{rssFeed.image}}
      </p>
      <mat-divider></mat-divider>
      <p class="padding-top-15">
        Link : {{rssFeed.link}}
      </p>
      <mat-divider></mat-divider>
      <mat-form-field>
        <input matInput [(ngModel)]="rssFeed.url" [ngModelOptions]="{standalone:true}" placeholder="URL"/>
      </mat-form-field>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="button" (click)="goBack()">
        <fa name="fas fa-arrow-left"></fa>
      </button>
      <button mat-raised-button color="primary" class="float-right" type="submit">
        <fa name="fas fa-check"></fa> Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
