<h2>My RssFeeds</h2>
<ul>
  <li *ngFor="let rssFeed of rssFeeds">
    <a routerLink="/rssFeed/{{rssFeed.id}}">
      {{rssFeed.url}}
    </a>
    <button mat-raised-button [matMenuTriggerFor]="menu">Options</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/rssFeed/{{rssFeed.id}}">Edit</a>
      <button mat-menu-item (click)="deleteRssFeed(rssFeed)">Delete</button>
    </mat-menu>
  </li>
</ul>

<h2>New RssFeed</h2>
<div>
  <mat-form-field>
    <input matInput #rssFeedUrl placeholder="url"/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addRssFeed(rssFeedUrl.value); rssFeedUrl.value=''">Add</button>
</div>
