@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #DDDDDD;
}

mat-form-field {
  margin-top: 20px !important;
  width: 100%;
}

.btn-sm {
  min-width: 0 !important;
}

.margin-top-10 {
  margin-top: 10px;
}
