<mat-card>
  <mat-card-header class="text-align-center">
    <mat-card-title>Favorite RssNews</mat-card-title>
    <mat-card-subtitle>All your favorite RssNews.</mat-card-subtitle>
    <span class="fill-horizontal-space"></span>
    <button mat-raised-button color="primary" routerLink="/rssFeeds" class="btn-sm margin-right-10" matTooltip="Back" matTooltipPosition="left">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-progress-bar [hidden]="!isLoadingRssNews" mode="query" class="margin-bottom-top-20"></mat-progress-bar>
  <mat-card-content [hidden]="isLoadingRssNews">
    <mat-list>
      <mat-list-item *ngFor="let itemRssNews of listRssNews">
        <h4 mat-line><a routerLink="/rssNews/{{itemRssNews.id}}">{{itemRssNews.title}}</a></h4>
        <p mat-line><span class="bold">{{itemRssNews.pubDate | date:'HH:mm - dd/MM/yyyy'}}</span> : {{itemRssNews.description}}</p>
        <button mat-icon-button matTooltip="Add favorite" matTooltipPosition="below" (click)="setFavorite(itemRssNews.id)" *ngIf="!itemRssNews.isFavorite">
          <mat-icon fontSet="fa" fontIcon="fa-star-o"></mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Remove favorite" matTooltipPosition="below" (click)="unsetFavorite(itemRssNews.id)" *ngIf="itemRssNews.isFavorite">
          <mat-icon fontSet="fa" fontIcon="fa-star"></mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-paginator
      [length]="length"
      [pageIndex]="page - 1"
      [pageSize]="previousPageSize"
      [pageSizeOptions]="[10,20,40]"
      [showFirstLastButtons]="true"
      (page)="pageChange($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
