<div class="navbar-top">
  <mat-toolbar color="primary">
    <span>RSS-Reader</span>
    <span class="fill-horizontal-space"></span>
    <button routerLink="/rssFeeds" mat-raised-button color="primary" class="margin-right-10" matTooltip="Home" matTooltipPosition="below">
      <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon>
    </button>
    <button routerLink="/rssNews/favorites" mat-raised-button color="primary" matTooltip="Favorites" matTooltipPosition="below">
      <mat-icon fontSet="fa" fontIcon="fa-star"></mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="main-div">
  <router-outlet></router-outlet>
</div>
